*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

body{
    background: #F3F5FC;
    ;
}

header{
    width: 100%;
    height: 70px;
}

.imagenLogo{
    height: 40px;
    padding-top: 25px;
    padding-left: 35px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.containerTextbox{
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}

.textBox{
    width: 70%;
    height: 100%;
    border: none;
    background-color: #F3F5FC;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
}

.textBox::placeholder{
    color: #0A3871;
}

.alert{
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: #495057;
    ;
}

.containerButtons{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.buttonEncriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #495057;
    color: #F3F5FC;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.buttonDesencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0A3871;
    margin-right: 20px;
    cursor: pointer;
}

.section2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 200px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.containerResult{
    display: flex;
    position: absolute;
    bottom: 400px;
}

.containerCopy{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.buttonCopiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}